/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require siimple

 *= require_self
 */
 @import "_variables.scss";
 @import "_functions.scss";

/* THEME COLORS */

$primary: #2f2227 !default;
$secondary: #191a20 !default;
$main: #fdf6f0 !default;
$main-dark: #181215 !default;

.toplr-header{
 background-color: $primary;
}
.toplr-footer{
  background-color: $secondary;
}
.primary-text{
  color: $primary;
}
.secondary-text{
  color: $secondary;
}
.main-text{
  color: $main
}
body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
 background: $main-dark;
}
main {
 flex: 1 0 auto;
}
.siimple-input{
 line-height: 2em;
 font-size: 2em;
}
.siimple-select{
 line-height: 2em;
 font-size: 2em;
 height: 2em;
}
.siimple-btn{
  height: 1em;
  line-height: 1em;
  font-size: 1em;
}
.siimple-box--primary{
  background: $primary;
}
